1Password
alacritty
Altair GraphQL Client
Atom
bashtop
BraveSoftware
browsh
celluloid
chromium
coc
Code
code-oss
Code - OSS
configstore
dconf
discord
dunst
Electron
EOS-greeter.conf
EOS-initial-wallpaper.I3
flameshot
Fritzing
gcloud
gh
goa-1.0
google-chrome
google-chrome-beta
google-chrome-unstable
gtk-2.0
gtk-3.0
htop
i3
ibus
influxdata
k9s
libreoffice
microsoft-edge-dev
mimeapps.list
neofetch
nitrogen
pavucontrol.ini
picom.conf
Pop
Postman
procps
pulse
ranger
Raspberry Pi
rofi
Slack
systemd
telepresence
Thunar
Unknown Organization
user-dirs.dirs
user-dirs.locale
vivaldi
vivaldi-snapshot
xed
xfce4
xpra
yay
zoomus.conf

